@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0 0;
}
.main {
  padding: 20px;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
  font-size: 18px;
}
.background {
  display: flex;
  justify-content: space-between;
  color: var(--White);
  font-family: "Barlow";
  font-weight: 600;
}
:root {
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
}
.nav-content {
  text-align: center;
  color: var(--White);
  font-family: "Fraunces";
  font-weight: 900;
  letter-spacing: 3px;
}
.arrow {
  position: relative;
}
.down {
  position: absolute;
  top: 140px;
  left: 590px;
}
.contact {
  color: var(--Very-dark-desaturated-blue);
  background-color: var(--White);
  border-radius: 30px;
  padding: 11px;
}

/* css for main //////////////////////////////////////////////////////////////////////////////////*/
.brand {
  padding: 100px;
}
.head {
  font-family: "Fraunces";
  font-weight: 900;
}
.learn {
  font-family: "Fraunces";
  font-size: small;
  letter-spacing: 4px;
  color: black;
}
a {
  text-decoration: none !important;
}

.back {
  position: relative;
}
.same {
  position: absolute;
  top: 150px;
  padding: 150px;
}
.graphic {
  color: var(--Dark-desaturated-cyan);
  font-family: "Fraunces";
}
.photo {
  color: var(--Dark-blue);
  font-family: "Fraunces";
}

/* css for Testimonials//////////////////////////////////////////////////////////////////////////// */
.testimonials {
  padding: 120px;
}

.testimg {
  border-radius: 50%;
  width: 30%;
}
.maintest {
  display: flex;
}
.firsttest {
  margin-top: 10%;
  font-family: "Fraunces";
  color: var(--Grayish-blue);
}
.testname {
  margin-top: 32%;
  font-family: "Fraunces";
  color: black;
}
.testrole {
  font-family: "Barlow";
  color: var(--Grayish-blue);
}
.testcont {
  font-family: "Barlow";
}

/* css for foot-image ///////////////////////////////////////////////////////////////////////*/
.footimg {
  width: 70%;
  display: flex;
}
.chow {
  width: 35.7%;
}

/*css for footer //////////////////////////////////////////////////////////////////////////////*/
.footer {
  height: 70vh;
  background-color: var(--Dark-moderate-cyan);
}
.foot {
  color: var(--Dark-desaturated-cyan);
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 30%;
  font-family: "Barlow";
}
.services:hover,
.projects:hover,
.about:hover {
  color: var(--White);
}
.sunny {
  color: var(--Dark-desaturated-cyan);
  font-family: "Barlow";
  font-weight: bolder;
}
.footmain {
  padding: 5%;
}
.font{
  color: var(--Dark-desaturated-cyan);
}
.font:hover{
  color: var(--White);
}
.fontmain{
  display: flex;
  justify-content: space-around;
  width: 15%;
}

/*  ///////////////////// */